.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 2%;
}
.content .row {
  width: inherit;
}

.row #form {
  width: inherit;
  margin-left: 15%;
  padding-top: 2%;
}
